@charset "UTF-8";

.wrapper {
	display: flex;
}

.sidebar {
	flex-basis: 20%;
}

.sidebar a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: black;
}

.send {
	font-weight: bold;
	display: inline-block;
	width: 100%;
}

.content {
	flex-basis: 80%
}

table a {
	text-decoration: none;
	color: black;
}

.blank-th {
	width: 5%;
}

.user-th {
	width: 15%;
}

.title-th {
	width: 50%;
}

.content-text {
	display: block;
	width: 35vw;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.date-th {
	width: 20%;
}

.message {
	margin: 10px 0px;
}

form legend {
	font-weight: bold;
}

.content-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#searchForm {
	width: 30vw;
	display: flex;
	justify-content: center;
}


#keyword {
	flex-basis: 50%
}

legend {
	font-weight: bold;
}

.no-message {
	text-align: center;
}

.read {
	background-color: #daebe5;
}

.row ul li.ajax-user {
	margin: 0;
}

.ajax-name {
	display: block;
}

