.parent {
	width:1050px;
	text-align:center;
	margin: 0 auto;
	
}


.info_tab1{
		background-color: #e9e9e9;
		width: 900px;
		height: 100px;
		margin: 0 auto;
		
	}
	.info_tab2{
		background-color: #e9e9e9;
		width: 900px;
		height: 50px;
		margin: 0 auto;
	}
	
	.btns{
		float:left;
		width:50%;
		height:100%;
	}
	
	.myJobOpen{
	   margin-left: 135px;
	   margin-top: 200px;
	   margin: 0 auto;
	   width:100%;
	}
	
	
	