.img1 {
    width: 200px;
    height: 250px;
}



.member2 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    background: #fff;
    border: 1px solid #eef0ef;
    height: 600px;
}
.btn2{

    float: right;

}
